body {
    background-color: #b2f3e1;
}

/* Navigation menu */
.main-nav {
    background-color: #a3e635;
}

/* Product cards */
.catalog .card {
    background-color: #edf5e8;
}

/* Header background */
header.bg-dark {
    background-color: #1e613d !important; /*Overrides the default Bootstrap dark background color with a custom green shade*/
}

/* Footer background */
footer.bg-dark {
    background-color: #236843 !important;
}